@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #fff;
}

body {
  background: var(--background);
  color: var(--foreground);
  
  /* disable text selection */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}