@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --radial: radial-gradient(circle at top, #1a1f36, #0d0f18);
}

body {
  overflow: overlay;
  user-select: none;
  margin: 0;
  padding: 0;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  animation: twinkle 5s infinite ease-in-out;
}

@keyframes twinkle {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}