*:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  overflow: overlay;
  user-select: none;
  color: var(--foreground);
  background: var(--background);
}

.all {
  scroll-behavior: smooth;
}

.underline {
  position: relative;
}

.underline::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #ef4444;
}
